*.pyc
*.swp
*.sqlite3
.coverage*
.noseids
.DS_STORE
*.egg/
*.egg-info/
coverage.xml
etc/evoque/evoque.conf.sample
nosetests.xml
pep8.txt
pylint.txt
doc/build/
.venv
.tox
build
dist
AUTHORS
ChangeLog
tags
.testrepository/
*.lock
subunit.log
.DS_Store
